body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar .nav-item .nav-link.clubs,
.navbar .nav-item .nav-link.users {
  font-weight: normal; /* Set initial font weight */
  transition: font-weight 0.01s ease; /* Smooth transition */
}

.navbar .nav-item .nav-link.clubs:hover,
.navbar .nav-item .nav-link.users:hover {
  font-weight: bold; /* Set font weight to bold on hover */
}
